*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
    padding: 0px;
}
/* header styles */
#head-i{
    background: url('../images/banner/banner1.png');
    height: 808px;
    background-repeat: no-repeat;
}
.head{
    width: 10px;
}
.header{
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
}
.header .header-text{
    text-align: center;
       text-emphasis: none;
}
.header-text{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    ;
}
.header-p{
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    text-emphasis: none;
}

/* buttons */
.button-main{
    color: #fff;
    padding: 10px 25px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    border: none;
    margin-left: 300px;
    
}

.button-c{
    color: #FD6E0A;   
    font-weight: 700;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    
    background: white; 
    
}
/* my failures */

.select-para p{
    margin-top: 20px;
    font-size: 18px;
}
.select-para i{
    color: rgb(24, 209, 55);
    
}

/* My Plans Section */
.skills-container{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    
}
.skills-title{
    font-size: 20px;
    font-weight: 900;
}
.skill-description{
    color: #737272;
}
.section-title{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}
.middle{
     text-align: justify;
     width: 400px;
     margin-left: 200px;
     margin-top: 250px;
     /* width: 10px; */
}
.middle-part{
    display: flex;
}
/* Bonus item */
.watch{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img-1{
    position: relative;
    top: 0;
    left: 0;
}
.img-2{
    position: relative;
    top: 0;
    left: 0;
}

/* Footer Area */
.footer{
    display: flex;
    /* padding: 10px; */
    color: #fff;
    background-color: #151414;
    padding: 30px 50px;
    justify-content: space-between;
}

.footer-area{
    width: 40%;
 
    margin-bottom: 10px;
}
.footer-area h3{
    font-size: 40px;
   
}
.footer-area a{
    text-decoration: none;
}

.section-title{
    margin-top: 30px;
    font-size: 20px;}
.footer-s{
    margin-bottom: 10px;
}